body{
	width: 600px;
	max-width: 100%;
	margin: auto;
	font-family: Arial,Helvetica,sans-serif;
}
#solarForm fieldset{
	margin-bottom: 30px;
}
#solarForm fieldset input{
 	width: 30%;
	margin: 15px
}

#solarForm button{
	width: 30%;
	height: 30px;
	display: block;
}
#results, #instant{
 
	background-color: #eeeeee;
	padding: 15px 0px 15px 55px;
}
#results li, #instant li{
	margin: 10px 0px 10px 10px;
}
#preForm button{
	width: 30%;
	margin-right: 2%;
	height: 30px;
}

@media (max-width: 600px){
	#solarForm fieldset input{
		width: 80%;
		margin: 15px auto;
		font-size: 18px;
		display: block;
	}
	#solarForm label{
		display: block;
		margin: auto;
		width: 80%;
	}

	#preForm button, #solarForm button{
		display: block;
		width: 80%;
		margin: 10px auto ;
		height: 40px;
		font-size: 18px
	}
}
